.row
  .span9
    %h2 Home
- if current_user && current_user.profile
  .row
    .span12
      .row
        .span1
          = image_tag current_user.profile_picture
        .span4
          = current_user.profile['name']
          %br
          = current_user.profile['location']['name'] if current_user.profile['location']
  /= debug current_user.profile
  %br
  .row
    .span12
      .row
        .span2
          %h3#friends Facebook Friends
  .row
    .span12
      %ul.thumbnails
        - for friend in current_user.friends do 
          = render :partial => "home/friend", :locals => { :friend => friend }
